name: Azure Pipelines agent in Docker

on:
  push:
    # Publish `main` as Docker `latest` image.
    branches:
      - main
    tags:
      - "*"

  # Run tests for any PRs.
  pull_request:

env:
  REGISTRY: docker.io
  # The image name
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  # Build and run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  build:
    runs-on: ubuntu-latest
    # run all our tests on each browser
    strategy:
      matrix:
        include:
          # Below are the platforms supported by the official Azure Pipelines Agent
          # See https://github.com/microsoft/azure-pipelines-agent/releases
          # - agent_platform: "win-x64"
          #   docker_platform: 
          # - agent_platform: "win-x86" (Docker in Docker not supported)
          #   docker_platform: 
          # - agent_platform: "osx-x64"
          #   docker_platform: 
          # - agent_platform: "osx-arm64"
          #   docker_platform: 
          - agent_platform: "linux-x64"
            docker_platform: "linux/amd64"
          # - agent_platform: "linux-arm"
          #   docker_platform: "linux/arm64"
          # - agent_platform: "linux-arm64"
          #   docker_platform: 
          # - agent_platform: "linux-musl-x64"
          #   docker_platform: 
          # - agent_platform: "linux-musl-arm64"
          #   docker_platform: 
    env:
      AGENT_PLATFORM: ${{ matrix.agent_platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: "{context}/Containerfile"
          platforms: ${{ matrix.docker_platform }}
          push: github.event_name != 'pull_request'
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
